In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

In [10]:
train_df=pd.read_csv('Training_Missing_removed.csv',index_col='application_key')

In [11]:
pd.set_option('display.max_columns',50)
train_df.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,18414.0,NaN,6423.0,3067.0,123875.0,NaN,1.0,1.0,1.0,3.0,3.0,94.78,8987.18,NaN,72.25,1462.0,4532.0,2890.0,61.0,4532.0,1095.0,3376.0,625.0,1.1667,1.0,0.0,8.0,10.0,4.0,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0.0,0.0
230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,13664.0,NaN,765.0,1931.0,42613.0,NaN,0.0,0.0,0.0,0.0,0.0,74.25,953.06,953.06,4.80,1028.0,2099.0,2099.0,30386.0,2281.0,NaN,2251.0,169.0,0.4167,0.0,0.0,8.0,0.0,2.0,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1.0,1.0
230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,2536.0,NaN,NaN,NaN,76109.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,669.0,4623.0,3772.0,NaN,NaN,25.0833,0.0,NaN,1.0,NaN,1.0,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,0.0,1.0
230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,37013.0,NaN,0.0,0.0,84235.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN,0.00,1308.0,2525.0,791.0,91.0,5992.0,NaN,3741.0,215.0,10.3333,0.0,0.0,3.0,3.0,2.0,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,1.0,0.0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,4696.0,NaN,2257.0,27815.0,123875.0,524848.0,0.0,0.0,0.0,0.0,0.0,20.51,796.67,NaN,28.72,801.0,2281.0,2281.0,487.0,2707.0,NaN,1947.0,158.0,0.9167,0.0,0.0,2.0,3.0,2.0,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,1.0,0.0

In [13]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 230032 to 310031
Data columns (total 48 columns):
mvar1          76361 non-null float64
mvar2          74447 non-null float64
mvar3          79499 non-null float64
mvar4          79499 non-null float64
mvar5          79499 non-null float64
mvar6          61036 non-null float64
mvar7          72606 non-null float64
mvar8          61036 non-null float64
mvar9          68592 non-null float64
mvar10         79498 non-null float64
mvar11         35181 non-null float64
mvar12         65922 non-null float64
mvar13         71648 non-null float64
mvar14         80000 non-null float64
mvar15         47933 non-null float64
mvar16         61490 non-null float64
mvar17         64154 non-null float64
mvar18         65229 non-null float64
mvar19         79996 non-null float64
mvar20         79498 non-null float64
mvar21         57439 non-null float64
mvar22         50876 non-null float64
mvar23         39752 non-null float64
mvar24         61098 non-null float64
mvar25         72294 non-null float64
mvar26         69390 non-null float64
mvar27         66791 non-null float64
mvar28         79498 non-null float64
mvar29         79498 non-null float64
mvar30         43583 non-null float64
mvar31         23782 non-null float64
mvar32         72294 non-null float64
mvar33         78249 non-null float64
mvar34         79498 non-null float64
mvar35         46986 non-null float64
mvar36         77102 non-null float64
mvar37         72294 non-null float64
mvar38         79498 non-null float64
mvar39         73960 non-null float64
mvar40         17443 non-null float64
mvar41         25422 non-null float64
mvar42         78099 non-null float64
mvar43         79182 non-null float64
mvar44         72255 non-null float64
mvar45         35145 non-null float64
mvar46         57211 non-null float64
mvar47         80000 non-null float64
default_ind    80000 non-null float64
dtypes: float64(48)
memory usage: 29.9 MB

In [6]:
train_df['mvar47']=train_df['mvar47'].map({'C':0,'L':1})
train_df=train_df.replace('missing',float(np.NaN))
train_df=train_df.replace('na',float(np.NaN))
train_df=train_df.astype(float)
# train_df= train_df.replace(np.NaN,train_df.mean())

In [7]:
train_df.shape

(25000, 47)

In [8]:
train_df.to_csv('lead_board_Missing_removed.csv')

In [14]:
new_df=train_df.dropna(axis=0)

In [15]:
new_df.shape

(276, 48)

In [16]:
new_df.to_csv('dropped.csv')

In [7]:
train_df.to_csv('cleaned1.csv')

In [8]:
cleaned=pd.read_csv('cleaned1.csv')

In [9]:
cleaned.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.000,0.0,0.0,0.000000,6015.0,322.00000,40369.000000,18414.0,5342.14974,6423.00000,3067.000000,123875.0,294080.148958,1.000000,1.000000,1.000000,3.0,3.0,94.780000,8987.180000,4305.929828,72.250000,1462.000000,4532.000000,2890.000000,61.0,4532.0,1095.000000,3376.000000,625.000000,1.1667,1.0,0.000000,8.0,10.000000,4.0,1.0,73.780000,82.547000,0.08696,10.0,0.63899,0.070736,0.000000,0.0,0.0
1,230033,1846.0,0.8095,0.000,0.0,0.0,102.000000,7532.0,3171.00000,18234.000000,13664.0,5342.14974,765.00000,1931.000000,42613.0,294080.148958,0.000000,0.000000,0.000000,0.0,0.0,74.250000,953.060000,953.060000,4.800000,1028.000000,2099.000000,2099.000000,30386.0,2281.0,2611.880274,2251.000000,169.000000,0.4167,0.0,0.000000,8.0,0.000000,2.0,0.0,99.129000,72.096758,0.00000,13.0,0.63836,0.070736,0.096135,1.0,1.0
2,230034,1745.0,0.4001,0.000,0.0,0.0,1606.702372,2536.0,6773.68666,34097.436013,2536.0,5342.14974,7124.40513,15429.679865,76109.0,294080.148958,0.231582,0.266281,0.272026,0.0,0.0,57.790097,4423.856509,4305.929828,69.981834,1750.065303,3369.121848,3096.580153,669.0,4623.0,3772.000000,3626.892986,470.430879,25.0833,0.0,0.198123,1.0,4.251362,1.0,0.0,98.497452,29.290000,0.00000,1.0,1.00000,0.070736,0.000000,0.0,1.0
3,230035,1739.0,0.2193,0.000,0.0,0.0,1982.000000,26440.0,4955.00000,20316.000000,37013.0,5342.14974,0.00000,0.000000,84235.0,294080.148958,0.000000,0.000000,0.000000,0.0,0.0,57.790097,0.000000,4305.929828,0.000000,1308.000000,2525.000000,791.000000,91.0,5992.0,2611.880274,3741.000000,215.000000,10.3333,0.0,0.000000,3.0,3.000000,2.0,0.0,96.272000,72.096758,0.15385,3.0,0.53241,0.000000,0.000000,1.0,0.0
4,230036,1787.0,0.0118,0.225,0.0,0.0,5451.000000,5494.0,5494.00000,7987.000000,4696.0,5342.14974,2257.00000,27815.000000,123875.0,524848.000000,0.000000,0.000000,0.000000,0.0,0.0,20.510000,796.670000,4305.929828,28.720000,801.000000,2281.000000,2281.000000,487.0,2707.0,2611.880274,1947.000000,158.000000,0.9167,0.0,0.000000,2.0,3.000000,2.0,0.0,115.019000,72.096758,0.00000,1.0,0.92665,0.070736,0.096135,1.0,0.0

In [21]:
X=train_df.iloc[:40000,:-1]
Y=train_df.iloc[:40000,-1]
X.shape,Y.shape

((40000, 47), (40000,))

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
   X ,Y , test_size=0.33, random_state=42)
X_train.shape, Y_train.shape, X_test.shape

((26800, 47), (26800,), (13200, 47))

In [23]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
lr_cost=cross_val_score(logreg, X_train, Y_train, scoring='neg_log_loss').mean()
acc_log,lr_cost

(77.71, -0.45435375145987783)

In [18]:
# coeff_df = pd.DataFrame(train_df.columns.delete(0))
# coeff_df.columns = ['Feature']
# coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

# coeff_df.sort_values(by='Correlation', ascending=False)

In [ ]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
# svc_cost=cross_val_score(svc, X_train, Y_train, scoring='neg_log_loss').mean()
acc_svc

In [61]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
knn_cost=cross_val_score(knn, X_train, Y_train, scoring='neg_log_loss').mean()
acc_knn,knn_cost

(84.99, -3.4323050255935073)

# Leaderboard Dataset

In [10]:
lead_df=pd.read_csv('Leaderboard_dataset.csv',index_col='application_key')

C:\Users\BaadRoR\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
# lead_df.head()

In [12]:
lead_df['mvar47']=lead_df['mvar47'].map({'C':0,'L':1})
lead_df=lead_df.replace('missing',float(np.NaN))
lead_df=lead_df.replace('na',float(np.NaN))
lead_df=lead_df.astype(float)
lead_df= lead_df.replace(np.NaN,lead_df.mean())

In [13]:
lead_df.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
350053,1753.0,0.5001,0.000,0.0,0.0,206.000000,19179.000000,206.000000,14221.000000,19438.0,5564.578823,785.000000,14922.843994,27748.0,375830.000000,0.000000,0.000000,0.000000,1.0,1.0,79.200000,7920.00000,7920.000000,79.20000,1141.0,152.0,152.0,1551.0,8486.0,4045.000000,3661.680565,450.0,13.0833,0.0,0.000000,3.0,11.0,1.0,0.000000,98.49114,20.551000,0.42105,3.0,0.856610,0.07128,0.000000,1.0
350054,1894.0,1.9701,0.000,0.0,0.0,297.000000,19820.000000,19820.000000,176895.000000,66346.0,5564.578823,1816.000000,944.000000,89190.0,293635.863737,0.000000,0.000000,0.000000,0.0,0.0,55.200000,627.59000,4270.918441,2.97000,2186.0,4563.0,4563.0,30386.0,10220.0,4502.000000,3661.680565,1222.0,1.8333,0.0,0.000000,3.0,12.0,3.0,0.000000,98.49114,63.047000,0.00000,15.0,0.943910,0.00000,0.000000,0.0
350055,1774.0,0.1718,0.000,0.0,0.0,197.000000,2563.000000,877.000000,8869.000000,3637.0,73.000000,4079.000000,6999.000000,79280.0,373607.000000,0.000000,0.000000,0.000000,2.0,2.0,79.154000,4427.87677,4270.918441,79.15000,2068.0,5901.0,5901.0,1490.0,5901.0,4867.000000,3661.680565,340.0,0.9167,0.0,0.200243,3.0,4.0,1.0,0.000000,98.49114,83.797000,0.33333,3.0,0.764670,0.00000,0.000000,0.0
350056,1586.0,0.1123,5.299,0.0,0.0,1624.069192,17750.368864,6753.202313,33825.554662,0.0,4537.000000,7069.090188,14922.843994,69370.0,114062.000000,0.228886,0.261064,0.266823,0.0,0.0,57.885791,4427.87677,4270.918441,72.50052,1034.0,1095.0,1095.0,30.0,2281.0,2598.012914,3661.680565,34.0,0.5833,0.0,0.200243,1.0,0.0,1.0,0.089912,98.49114,71.990942,1.50000,0.0,0.702558,0.07128,0.092712,0.0
350057,1832.0,1.4442,0.000,0.0,0.0,179.000000,7577.000000,179.000000,21059.000000,20306.0,5564.578823,8740.000000,8012.000000,99100.0,331985.000000,0.000000,0.000000,0.000000,1.0,1.0,97.989000,4427.87677,4270.918441,97.99000,639.0,1764.0,1764.0,30386.0,4502.0,2312.000000,4471.000000,84.0,2.0000,0.0,0.200243,17.0,0.0,3.0,0.000000,96.05200,66.665000,0.00000,23.0,0.791900,0.00000,0.000000,1.0

In [15]:
lead_df.to_csv('lead_board.csv')

In [14]:
lead_df.head()

In [16]:
# lead_pred = knn.predict(lead_df)
# lead_df.shape,X_test.shape

In [68]:
lead_pred = knn.predict(lead_df)

In [81]:
result=pd.DataFrame(lead_pred)

In [82]:
result[result[0].values==1].count()

0    4832
dtype: int64

In [83]:
result[1]=lead_df.index

In [84]:
result.head()

     0       1
0  0.0  350053
1  0.0  350054
2  0.0  350055
3  0.0  350056
4  0.0  350057

In [85]:
result.to_csv('Datadevils_IITGuwahati_1.csv')

In [21]:
# x_data, y_data = get_data() x_data = x_data.values
from sklearn.preprocessing import StandardScaler
pipe1 = make_pipeline(StandardScaler(), SelectFromModel(estimator=RandomForestClassifier()), LogisticRegression())

pipe2 = make_pipeline(StandardScaler(), LogisticRegression())

rf = RandomForestClassifier()

print('LR + selection: ', cross_val_score(pipe1, x, y, scoring='neg_log_loss').mean())
print('LR: ', cross_val_score(pipe2, x, y, scoring='neg_log_loss').mean())
print('RF: ', cross_val_score(rf, x, y, scoring='neg_log_loss').mean())

LR + selection:  -0.440320753799826
LR:  -0.4275618597755857
RF:  -1.5624342344728575

In [18]:
# from sklearn.feature_selection import VarianceThreshold
# data=train_df.as_matrix()
# x=data[:,:-1]
# y=data[:,-1]
# VarianceThreshold(.9).fit_transform(x).shape

In [20]:
pipe = make_pipeline(SelectFromModel(estimator=RandomForestClassifier()), LogisticRegression())
lr = LogisticRegression()
rf = RandomForestClassifier()

print(cross_val_score(lr, x, y, scoring='neg_log_loss').mean())
print(cross_val_score(rf, x, y, scoring='neg_log_loss').mean())
print(cross_val_score(pipe, x, y, scoring='neg_log_loss').mean())

-0.49655135233600006
-1.5163793781048642
-0.5128523650031064