In [162]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns',None)

In [192]:
train_df=pd.read_csv('Tra_add_NaN_final.csv',index_col='application_key')
# train_df=train_df.dropna(axis=0)

In [151]:
def Pca(data):
    from sklearn.decomposition import PCA
    pca = PCA(n_components=15)
    X_reduced=pca.fit_transform(data)
# print(pca.explained_variance_ratio_)  
# print(pca.singular_values_)  
    X=pd.DataFrame(X_reduced)
    X.index=data.index
    return X

In [160]:
# X=train_df.drop(['application_key','35'],axis=1)

# train_df=train_df.drop(['application_key'],axis=1)
# X=Pca(X)

In [164]:
# X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-35054.287641,-52783.101552,-17281.140971,-4802.194503,-13670.485693,-5892.218590,8140.022454,562.894515,-2146.010790,225.227447,2870.148436,1707.671686,-3349.653047,-1444.409470,-53.396570
1,-116316.873931,-53601.643525,-25230.760669,-3011.257199,5373.720072,1167.329594,-23113.908876,-6626.302494,456.950546,1569.493093,-3847.977495,1825.649945,-114.338574,548.051517,-157.163258
2,-82821.807722,-54194.013453,-30944.846914,851.689649,-11704.816571,2651.476580,7634.427437,-2803.307276,-2428.763836,444.126396,-818.075719,499.894069,35.869245,1156.768728,37.315906
3,-74691.343382,-50889.578472,1476.233738,-15257.511829,17746.650733,1802.186983,7675.501545,-4800.949191,-2581.876588,815.336483,-3802.499192,-1475.480499,2626.006786,18.856588,-111.639991
4,-35001.931708,253325.724026,-57116.851938,24046.963163,17517.850538,6730.676174,7196.935796,-3390.595654,-2474.163454,708.664949,-3427.155503,2079.806442,2171.858371,331.342388,-474.174181

In [109]:
# new_df=train_df.iloc[:1000,:]
# new_df.head()

In [110]:
from pandas.plotting import scatter_matrix
# scatter_matrix(new_df,alpha=0.2, figsize=(16,16), diagonal='kde');

In [111]:
# train_df.plot.kde(figsize=(10,10))

In [49]:
# train_df.fillna(method='ffill')
# train_df.fillna(method='bfill')
# train_df.replace(np.NaN,'hii')

In [193]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,94.78,8987.180,3700.00,72.25,1462.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.000,6337.0,3.0,4.0,7422.0,0.0
230033,1846.0,0.8095,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,74.25,953.060,953.06,4.80,1028.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,0.000,10805.0,0.0,0.0,4198.0,1.0
230034,1745.0,0.4001,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,59.69,3974.425,3700.00,40.44,1472.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,0.000,5311.0,0.0,0.0,5293.0,1.0
230035,1739.0,0.2193,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,59.69,0.000,3700.00,0.00,1308.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.000,33377.0,0.0,0.0,3316.0,0.0
230036,1787.0,0.0118,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,20.51,796.670,3700.00,28.72,801.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.225,16439.0,0.0,0.0,4562.0,0.0

In [194]:
# train_df.to_csv('lead_add_NaN_final.csv')
train_df.shape

(71526, 36)

In [114]:
# Q1 = train_df[[str(i)]].quantile(0.25)
# Q3 = train_df[[str(i)]].quantile(0.75)
# IQR = Q3 - Q1

# Filtering Values between Q1-1.5IQR and Q3+1.5IQR
# for i in range(34):
#     Q1 = train_df.quantile(0.25)
#     Q3 = train_df.quantile(0.75)
#     IQR = Q3 - Q1

#     mask[[str(i)]] = train_df[[str(i)]].between(Q1-1.5*IQR, Q3+1.5*IQR, inclusive=True)

In [115]:
# train_df[['1']].plot.box()

In [177]:
Q1 = train_df.quantile(0.25)
Q3 = train_df.quantile(0.75)
IQR = Q3 - Q1
new_df=train_df.iloc[:,:-1]
df = new_df[~((new_df < (Q1 - 3 * IQR)) |(new_df > (Q3 + 3 * IQR))).any(axis=1)]

In [209]:
new_df1=train_df[train_df['35']==1]
new_df0=train_df[train_df['35']==0]
# new_df0X=new_df0.iloc[:,:-1]
# new_df1X=new_df1.iloc[:,:-1]
Q1 = new_df0.quantile(0.25)
Q3 = new_df0.quantile(0.75)
IQR = Q3 - Q1
X0=new_df0.iloc[:,:-1]
df0 = X0[~((X0 < (Q1 - 1.5 * IQR)) |(X0 > (Q3 + 1.5 * IQR))).any(axis=1)]
Q1 = new_df1.quantile(0.25)
Q3 = new_df1.quantile(0.75)
IQR = Q3 - Q1
X1=new_df1.iloc[:,:-1]
df1 = X1[~((X1 < (Q1 - 3* IQR)) |(X1 > (Q3 + 3 * IQR))).any(axis=1)]

In [213]:
ind1=df1.index
ind0=df0.index
# new_df0.shape
# train_df['35']

In [215]:
df_final=train_df[(train_df.index).isin(ind0 | ind1)]

In [217]:
df_final.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230034,1745.0,0.4001,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,59.69,3974.425,3700.0,40.44,1472.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,0.000,5311.0,0.0,0.0,5293.0,1.0
230035,1739.0,0.2193,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,59.69,0.000,3700.0,0.00,1308.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.000,33377.0,0.0,0.0,3316.0,0.0
230042,1903.0,0.0000,90618.000000,110271.0,1780.0,1323.0,3513.0,123875.0,216152.0,12.35,3974.425,3700.0,2.49,2240.0,30386.0,7787.0,3042.0,810.0,15.6667,9.0,11.0,2.0,0.0,0.00000,17.0,0.80620,1.0,0.0,0.000,0.0,0.000,29450.0,0.0,0.0,13779.0,0.0
230054,1655.0,3.0268,198.000000,48.0,901.0,151.0,4090.0,41622.0,216152.0,76.00,7600.000,7600.0,76.00,91.0,0.0,2190.0,2829.0,3.0,0.6667,2.0,0.0,4.0,0.0,1.00000,1.0,1.00000,0.0,0.0,0.000,0.0,14.748,144.0,0.0,1.0,182.0,1.0
230057,1894.0,0.0318,25667.000000,12345.0,1780.0,1093.0,5393.0,0.0,216152.0,19.02,3974.425,3700.0,8.29,2882.0,30386.0,6631.0,4228.0,379.0,0.9167,2.0,3.0,1.0,0.0,0.00000,3.0,0.99419,1.0,0.0,0.000,0.0,0.000,19521.0,0.0,0.0,13262.0,0.0

In [218]:
# df.to_csv('Traning_iqr.csv')
from sklearn.utils import shuffle
df_final= shuffle(df_final)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
305380,1594.0,1.1159,34097.436013,5680.0,2323.0,2977.5,0.0,56487.0,99414.0,59.69,3974.425,3700.0,40.44,1156.0,0.0,4806.0,2829.0,38.0,1.5833,9.0,0.0,6.0,0.0,0.83333,1.0,0.61475,0.0,1.0,0.000,0.0,11.313,8069.0,0.0,0.0,3346.0,1.0
253773,1701.0,2.5909,34097.436013,180.0,5178.0,2977.5,0.0,56487.0,49550.0,59.69,3933.330,3700.0,40.44,1472.0,91.0,5414.0,5414.0,300.0,2.7500,4.0,3.0,5.0,0.0,0.80000,2.0,1.00000,0.0,0.0,0.000,0.0,0.000,2955.0,0.0,0.0,5293.0,1.0
294549,1855.0,0.2001,23189.000000,18425.0,1780.0,5756.0,9635.0,198200.0,216152.0,31.57,4900.000,4900.0,24.82,1517.0,30386.0,5293.0,2829.0,399.0,5.1667,3.0,2.0,1.0,0.0,0.00000,5.0,0.84366,0.0,0.0,0.000,0.0,0.000,32053.0,0.0,0.0,3102.0,0.0
304810,1713.0,0.5742,4608.000000,23321.0,1780.0,1109.0,9036.0,41226.0,220151.0,43.04,3974.425,3700.0,42.64,1201.0,30.0,1430.0,1338.0,158.0,3.2500,7.0,0.0,2.0,0.0,0.18182,8.0,0.84792,0.0,1.0,76.028,0.0,4.509,12627.0,0.0,0.0,2860.0,1.0
293827,1813.0,0.1324,19731.000000,12736.0,1780.0,6994.0,7560.0,72343.0,63083.0,51.44,3346.730,4682.5,35.45,466.0,30386.0,882.0,2829.0,92.0,3.3333,6.0,0.0,8.0,0.0,0.00000,9.0,0.33168,1.0,0.0,0.000,0.0,0.000,8518.0,0.0,0.0,1764.0,0.0

In [219]:
df_final.to_csv('traning_Iqr_11k.csv')

In [179]:
ind=df.index

In [180]:
# df1=train_df
train_df.head()

,application_key,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
0,230032,1696.0,1.6541,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,94.78,8987.180,3700.00,72.25,1462.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.000,6337.0,3.0,4.0,7422.0,0.0
1,230033,1846.0,0.8095,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,74.25,953.060,953.06,4.80,1028.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,0.000,10805.0,0.0,0.0,4198.0,1.0
2,230034,1745.0,0.4001,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,59.69,3974.425,3700.00,40.44,1472.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,0.000,5311.0,0.0,0.0,5293.0,1.0
3,230035,1739.0,0.2193,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,59.69,0.000,3700.00,0.00,1308.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.000,33377.0,0.0,0.0,3316.0,0.0
4,230036,1787.0,0.0118,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,20.51,796.670,3700.00,28.72,801.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.225,16439.0,0.0,0.0,4562.0,0.0

In [181]:
df2=train_df[(train_df.index).isin(ind)]

In [182]:
df2.shape

(14858, 37)

In [183]:
(df2[['35']]==1).sum(axis=0)

35    1290
dtype: int64

In [131]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,94.78,8987.180,3700.00,72.25,1462.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.000,6337.0,3.0,4.0,7422.0,0.0
230033,1846.0,0.8095,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,74.25,953.060,953.06,4.80,1028.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,0.000,10805.0,0.0,0.0,4198.0,1.0
230034,1745.0,0.4001,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,59.69,3974.425,3700.00,40.44,1472.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,0.000,5311.0,0.0,0.0,5293.0,1.0
230035,1739.0,0.2193,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,59.69,0.000,3700.00,0.00,1308.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.000,33377.0,0.0,0.0,3316.0,0.0
230036,1787.0,0.0118,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,20.51,796.670,3700.00,28.72,801.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.225,16439.0,0.0,0.0,4562.0,0.0

In [126]:
# df2.to_csv('traning_iqr4.csv')

In [132]:
(df2[['35']]==0).sum()

35    20277
dtype: int64

In [133]:
train_df.shape

(71526, 36)

In [135]:
(train_df[['35']]==0).sum(axis=0)

35    55171
dtype: int64