In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns',None)
from pandas.plotting import scatter_matrix

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

In [29]:
train_df=pd.read_csv('Traning cleaned.csv',index_col='application_key')
# ,index_col='application_key'

In [9]:
sample_df=train_df

In [10]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))

X=sample_df.iloc[:,:-1]
Y=sample_df.iloc[:,-1].astype(int)
# X=sel.fit_transform(X)
# temp=pd.DataFrame(X)

In [11]:
Y.shape,X.shape

((80000,), (80000, 47))

In [12]:
# temp.set_index(sample_df.index).head()
# Y=Y.reset_index()
# Y.head()

In [13]:
# combine=pd.concat([temp,Y['default_ind']],axis=1)

In [14]:
# df=combine.set_index(Y['application_key']).head()

In [15]:
# df.head()

In [16]:
# temp=temp.set_index(Y['application_key'])
colm=[i for i in range(47)]
X.columns=colm

In [17]:
X.shape

(80000, 47)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
# from sklearn import datasets
# lreg = LinearRegression()
# rfe = RFE(lreg, 10)
# rfe = rfe.fit_transform(X, Y['default_ind'])

In [19]:
Y.shape

(80000,)

In [20]:
>>> from sklearn.feature_selection import RFE
>>> from sklearn.linear_model import LinearRegression
# >>> X, y = make_friedman1(n_samples=50, n_features=10, random_state=0)
>>> lreg = LinearRegression()
# >>> rfe = RFE(lreg, 10)
>>> selector = RFE(lreg ,33, step=1)
>>> selector = selector.fit(X, Y)
# >>> print(selector.support_)
>>> selector.ranking_

array([ 1,  1,  1,  1,  1,  8, 10,  5,  7, 14,  9,  6, 12, 15, 13,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  3, 11,  4,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [21]:
rem_col=[6,7,8,9,10,11,12,13,14,15,26,27,28,29]
len(rem_col)

14

In [22]:
temp1=pd.DataFrame(X)
new_df=temp1.drop(rem_col,axis=1)
new_df.head()

,0,1,2,3,4,5,16,17,18,19,20,21,22,23,24,25,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.000000,1.000000,1.000000,3.0,3.0,94.780000,8987.180000,4305.929828,72.250000,1462.000000,4532.000000,3376.000000,625.000000,1.1667,1.0,0.000000,8.0,10.000000,4.0,1.0,73.780000,82.547000,0.08696,10.0,0.63899,0.070736,0.000000,0.0
230033,1846.0,0.8095,0.000,0.0,0.0,102.000000,0.000000,0.000000,0.0,0.0,74.250000,953.060000,953.060000,4.800000,1028.000000,2099.000000,2251.000000,169.000000,0.4167,0.0,0.000000,8.0,0.000000,2.0,0.0,99.129000,72.096758,0.00000,13.0,0.63836,0.070736,0.096135,1.0
230034,1745.0,0.4001,0.000,0.0,0.0,1606.702372,0.266281,0.272026,0.0,0.0,57.790097,4423.856509,4305.929828,69.981834,1750.065303,3369.121848,3626.892986,470.430879,25.0833,0.0,0.198123,1.0,4.251362,1.0,0.0,98.497452,29.290000,0.00000,1.0,1.00000,0.070736,0.000000,0.0
230035,1739.0,0.2193,0.000,0.0,0.0,1982.000000,0.000000,0.000000,0.0,0.0,57.790097,0.000000,4305.929828,0.000000,1308.000000,2525.000000,3741.000000,215.000000,10.3333,0.0,0.000000,3.0,3.000000,2.0,0.0,96.272000,72.096758,0.15385,3.0,0.53241,0.000000,0.000000,1.0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.000000,0.000000,0.000000,0.0,0.0,20.510000,796.670000,4305.929828,28.720000,801.000000,2281.000000,1947.000000,158.000000,0.9167,0.0,0.000000,2.0,3.000000,2.0,0.0,115.019000,72.096758,0.00000,1.0,0.92665,0.070736,0.096135,1.0

In [67]:
new_df.shape

(80000, 33)

In [27]:
colm=train_df.columns
colm

Index(['mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6', 'mvar7', 'mvar8',
       'mvar9', 'mvar10', 'mvar11', 'mvar12', 'mvar13', 'mvar14', 'mvar15',
       'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar22',
       'mvar23', 'mvar24', 'mvar25', 'mvar26', 'mvar27', 'mvar28', 'mvar29',
       'mvar30', 'mvar31', 'mvar32', 'mvar33', 'mvar34', 'mvar35', 'mvar36',
       'mvar37', 'mvar38', 'mvar39', 'mvar40', 'mvar41', 'mvar42', 'mvar43',
       'mvar44', 'mvar45', 'mvar46', 'mvar47', 'default_ind'],
      dtype='object')

In [25]:
back_df=pd.read_csv('Train_after_forward.csv',index_col='application_key')

In [28]:
back_df.shape

(80000, 43)

In [63]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
   new_df ,Y , test_size=0.33, random_state=42)
X_train.shape, Y_train.shape, X_test.shape

((53600, 33), (53600,), (26400, 33))

In [64]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
knn_cost=cross_val_score(knn, X_train, Y_train, scoring='neg_log_loss').mean()
acc_knn,knn_cost

(85.45, -3.5085008893184426)

In [68]:
new_df.shape

(80000, 33)

In [84]:
lead_df1=pd.read_csv('lead_board_cleaned.csv',index_col='application_key')

In [85]:
colm=[i for i in range(47)]
lead_df1.columns=colm

In [86]:
lead_df1.shape

(25000, 47)

In [87]:
lead_df=lead_df1.drop(rem_col,axis=1)

In [89]:
lead_df.shape
lead_df.to_csv('lead_after_back.csv')

In [75]:
lead_pred=knn.predict(lead_df)
proba=knn.predict_proba(lead_df)
lead_df['pridicted']=lead_pred
lead_df['prob']=proba[:,0]
lead_df=lead_df.sort_values(by=['prob'],ascending=False)
result=lead_df['pridicted'].astype(int)
result.to_csv('Datadevils_IITGuwahati_7.csv')

In [76]:
result.head()

application_key
362553    0
363846    0
363917    0
363922    0
363923    0
Name: pridicted, dtype: int32

In [ ]:
lead_df.head(10)

# Random Forest

In [109]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

100.0

In [ ]:
lead_prid=random_forest.predict(lead_df)
proba=random_forest.predict_proba(lead_df)
lead_df['pridicted']=lead_prid
lead_df['prob']=proba[:,0]
lead_df=lead_df.sort_values(by=['prob'],ascending=False)
result=lead_df['pridicted'].astype(int)
result.to_csv('Datadevils_IITGuwahati_5.csv')

In [39]:
>>> from sklearn.feature_selection import RFE
>>> from sklearn.linear_model import LinearRegression
# >>> X, y = make_friedman1(n_samples=50, n_features=10, random_state=0)
>>> lreg = LinearRegression()
# >>> rfe = RFE(lreg, 10)
>>> selector = RFE(lreg ,33, step=1)
>>> selector = selector.fit(X, Y)
print('score',selector.score(X,Y))
# >>> print(selector.support_)
>>> selector.ranking_
# from sklearn.neighbors import KNeighborsClassifier
# knn = KNeighborsClassifier(n_neighbors = 3)

score 0.24012804749776118

array([ 1,  1,  1,  1,  1,  8, 10,  5,  7, 14,  9,  6, 12, 15, 13,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  3, 11,  4,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [32]:
for i in range( 5, 40):
    selector = RFE(lreg ,i, step=1)
    selector = selector.fit(X, Y)
#     cost=cross_val_score(lreg,X,Y,scoring='neg_log_loss').mean()
    print(i, '  score',selector.score(X,Y),'   cost  ', )

5   score 0.18328536963052355    cost
6   score 0.189971681445259    cost
7   score 0.19096923247100872    cost
8   score 0.19129344071216617    cost
9   score 0.19496079574978353    cost
10   score 0.21427058725801928    cost
11   score 0.21427446987991017    cost
12   score 0.21701390871793735    cost
13   score 0.21713683727998478    cost
14   score 0.2228974306906429    cost
15   score 0.2254183953850043    cost
16   score 0.22552767714857602    cost
17   score 0.22738268207419365    cost
18   score 0.22848022615128416    cost
19   score 0.22885668728433894    cost
20   score 0.22901968121617755    cost
21   score 0.22951326614050338    cost
22   score 0.22997417861638259    cost
23   score 0.23334301512376787    cost
24   score 0.23377460261959282    cost
25   score 0.23377466716267015    cost
26   score 0.23410217419512402    cost
27   score 0.2367133491772987    cost
28   score 0.23671340176872457    cost
29   score 0.23761252499338115    cost
30   score 0.23765410470781778    cost
31   score 0.2383407799420243    cost
32   score 0.23990489849448537    cost
33   score 0.24012804749776118    cost
34   score 0.24035402719500254    cost
35   score 0.24041764758695072    cost
36   score 0.2419065984190505    cost
37   score 0.24242589811849258    cost
38   score 0.24271731397001417    cost
39   score 0.24412320978989466    cost

In [36]:
for i in range( 40, 47):
    selector = RFE(lreg ,i, step=1)
    selector = selector.fit(X, Y)
#     cost=cross_val_score(lreg,X,Y,scoring='neg_log_loss').mean()
    print(i, '  score',selector.score(X,Y),'   cost  ', )

40   score 0.24413296327911227    cost
41   score 0.24414946341338672    cost
42   score 0.24424820618874388    cost
43   score 0.24424823887430605    cost
44   score 0.24431712144096485    cost
45   score 0.24489327171925326    cost
46   score 0.24489492159511417    cost

'hiii'

In [77]:
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_classification

# # Build a classification task using 3 informative features
# # X, y = make_classification(n_samples=1000, n_features=25, n_informative=3,
# #                            n_redundant=2, n_repeated=0, n_classes=8,
# #                            n_clusters_per_class=1, random_state=0)

# # Create the RFE object and compute a cross-validated score.
# svc = LinearRegression()
# # The "accuracy" scoring is proportional to the number of correct
# # classifications
# rfecv = RFECV(estimator=svc, step=1, cv=StratifiedKFold(2),
#               scoring='accuracy')
# rfecv.fit(X, Y)

# print("Optimal number of features : %d" % rfecv.n_features_)

# # Plot number of features VS. cross-validation scores
# plt.figure()
# plt.xlabel("Number of features selected")
# plt.ylabel("Cross validation score (nb of correct classifications)")
# plt.plot(range(1, len(rfecv.grid_scores_) + 1), rfecv.grid_scores_)
# plt.show()

In [94]:
new_df.to_csv('train_after_back.csv')

In [90]:
new_df=pd.concat([new_df,Y],axis=1)

In [91]:
new_df.shape

(80000, 34)

In [92]:
new_df.head()

,0,1,2,3,4,5,16,17,18,19,20,21,22,23,24,25,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,default_ind
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.000000,1.000000,1.000000,3.0,3.0,94.780000,8987.180000,4305.929828,72.250000,1462.000000,4532.000000,3376.000000,625.000000,1.1667,1.0,0.000000,8.0,10.000000,4.0,1.0,73.780000,82.547000,0.08696,10.0,0.63899,0.070736,0.000000,0.0,0
230033,1846.0,0.8095,0.000,0.0,0.0,102.000000,0.000000,0.000000,0.0,0.0,74.250000,953.060000,953.060000,4.800000,1028.000000,2099.000000,2251.000000,169.000000,0.4167,0.0,0.000000,8.0,0.000000,2.0,0.0,99.129000,72.096758,0.00000,13.0,0.63836,0.070736,0.096135,1.0,1
230034,1745.0,0.4001,0.000,0.0,0.0,1606.702372,0.266281,0.272026,0.0,0.0,57.790097,4423.856509,4305.929828,69.981834,1750.065303,3369.121848,3626.892986,470.430879,25.0833,0.0,0.198123,1.0,4.251362,1.0,0.0,98.497452,29.290000,0.00000,1.0,1.00000,0.070736,0.000000,0.0,1
230035,1739.0,0.2193,0.000,0.0,0.0,1982.000000,0.000000,0.000000,0.0,0.0,57.790097,0.000000,4305.929828,0.000000,1308.000000,2525.000000,3741.000000,215.000000,10.3333,0.0,0.000000,3.0,3.000000,2.0,0.0,96.272000,72.096758,0.15385,3.0,0.53241,0.000000,0.000000,1.0,0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.000000,0.000000,0.000000,0.0,0.0,20.510000,796.670000,4305.929828,28.720000,801.000000,2281.000000,1947.000000,158.000000,0.9167,0.0,0.000000,2.0,3.000000,2.0,0.0,115.019000,72.096758,0.00000,1.0,0.92665,0.070736,0.096135,1.0,0