# traning clean final

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns',None)

In [16]:
train_df=pd.read_csv('Training_Missing_removed.csv',index_col='application_key')
colm=[i for i in range(48)]
train_df.columns=colm
Y=train_df.iloc[:,-1]
mean_colm=[43]
zero_colm=[5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,
           29,30,31,33,34,35,36,37,38,39,40,42,44,45]
median_colm=[0,1]
train_df[median_colm]=train_df[median_colm].replace(np.NaN,train_df[median_colm].median())
train_df[zero_colm]=train_df[zero_colm].replace(np.NaN,0)
train_df[mean_colm]=train_df[mean_colm].replace(np.NaN,train_df[mean_colm].mean(axis=0))
Y=train_df[[47]]
train_df[[2]]=train_df[[2]].values+train_df[[3]].values+train_df[[4]].values
train_df[[6]]=train_df[[6]].values+train_df[[7]].values
train_df[[15]]=train_df[[15]].values+train_df[[16]].values+train_df[[17]].values
train_df[[18]]=train_df[[18]].values+train_df[[19]].values
train_df[[21]]=train_df[[21]].values+train_df[[22]].values
train_df[[25]]=train_df[[25]].values+train_df[[26]].values
train_df[[27]]=train_df[[27]].values+train_df[[28]].values
train_df[[29]]=train_df[[29]].values+train_df[[30]].values
train_df[[39]]=train_df[[39]].values+train_df[[40]].values
train_df[[44]]=train_df[[44]].values+train_df[[45]].values
drop_colm=[3,4,7,16,17,19,22,26,28,30,40,45,47]
replace1_colm=[2,5,6,8,9,10,11,12,14,15,18,20,21,23,24,25,27,29,31,33,34,
              35,36,37,38,39,42,44]
train_df=train_df.drop(drop_colm,axis=1)
train_df[train_df[replace1_colm]>0 ]=1
train_df['plabel']=Y
k=train_df.shape[1]
ind=[i for i in range(k)]
train_df.columns=ind
train_df=train_df.dropna(axis=0)
# train_df=train_df.fillna(method='ffill')
# train_df=train_df.fillna(method='bfill')

train_df.to_csv('Training_cleaned_shubham.csv')
train_df.head()
# to add (2,3,4) (6,7)
#values replace from 1 =[5,6,7,8,9,10,11,12,14,15,16,17]
# to replace 1=[5]
# drop_colm=[]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,123875.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.1667,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.08696,1.0,0.63899,0.0,0.0,0.0
230033,1846.0,0.8095,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,42613.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.4167,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,1.0,0.63836,0.0,1.0,1.0
230034,1745.0,0.4001,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,76109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,25.0833,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,1.0,1.00000,0.0,0.0,1.0
230035,1739.0,0.2193,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,84235.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,10.3333,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.15385,1.0,0.53241,0.0,1.0,0.0
230036,1787.0,0.0118,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,123875.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9167,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.00000,1.0,0.92665,0.0,1.0,0.0

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 230032 to 310031
Data columns (total 33 columns):
0     80000 non-null float64
1     80000 non-null float64
3     80000 non-null float64
4     80000 non-null float64
5     80000 non-null float64
6     80000 non-null float64
7     80000 non-null float64
8     80000 non-null float64
9     80000 non-null float64
10    80000 non-null float64
11    80000 non-null float64
12    80000 non-null float64
13    80000 non-null float64
14    80000 non-null float64
15    80000 non-null float64
16    80000 non-null float64
17    80000 non-null float64
18    80000 non-null float64
19    80000 non-null float64
20    80000 non-null float64
21    80000 non-null float64
23    80000 non-null float64
24    80000 non-null float64
25    80000 non-null float64
26    80000 non-null float64
27    80000 non-null float64
28    80000 non-null float64
29    80000 non-null float64
31    80000 non-null float64
32    80000 non-null float64
33    80000 non-null float64
34    80000 non-null float64
35    80000 non-null float64
dtypes: float64(33)
memory usage: 20.8 MB

In [38]:
train_df.head()

,0,1,2,5,6,8,9,10,11,12,13,14,15,18,20,21,23,24,25,27,29,31,32,33,34,35,36,37,38,39,41,42,43,44,46,plabel
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,123875.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.1667,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.08696,1.0,0.63899,0.0,0.0,0.0
230033,1846.0,0.8095,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,42613.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.4167,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,1.0,0.63836,0.0,1.0,1.0
230034,1745.0,0.4001,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,76109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,25.0833,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,1.0,1.00000,0.0,0.0,1.0
230035,1739.0,0.2193,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,84235.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,10.3333,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.15385,1.0,0.53241,0.0,1.0,0.0
230036,1787.0,0.0118,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,123875.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9167,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.00000,1.0,0.92665,0.0,1.0,0.0

# lead_boad_clean Final

In [18]:
train_df=pd.read_csv('Leaderboard_Missing_removed.csv',index_col='application_key')
# colm=[i for i in range(49)]
train_df.columns=colm[:-1]
# Y=train_df.iloc[:,-1]
train_df[median_colm]=train_df[median_colm].replace(np.NaN,train_df[median_colm].median())
train_df[zero_colm]=train_df[zero_colm].replace(np.NaN,0)
train_df[mean_colm]=train_df[mean_colm].replace(np.NaN,train_df[mean_colm].mean(axis=0))
# Y=train_df[[47]]
train_df[[2]]=train_df[[2]].values+train_df[[3]].values+train_df[[4]].values
train_df[[6]]=train_df[[6]].values+train_df[[7]].values
train_df[[15]]=train_df[[15]].values+train_df[[16]].values+train_df[[17]].values
train_df[[18]]=train_df[[18]].values+train_df[[19]].values
train_df[[21]]=train_df[[21]].values+train_df[[22]].values
train_df[[25]]=train_df[[25]].values+train_df[[26]].values
train_df[[27]]=train_df[[27]].values+train_df[[28]].values
train_df[[29]]=train_df[[29]].values+train_df[[30]].values
train_df[[39]]=train_df[[39]].values+train_df[[40]].values
train_df[[44]]=train_df[[44]].values+train_df[[45]].values
train_df=train_df.drop(drop_colm[:-1],axis=1)
train_df[train_df[replace1_colm]>0 ]=1
# train_df['plabel']=Y
k=train_df.shape[1]
# ind=[i for i in range(k)]
# train_df=train_df.drop(drop_colm[:-1],axis=1)
# train_df=train_df.dropna(axis=1)
train_df=train_df.fillna(method='ffill')
train_df=train_df.fillna(method='bfill')
train_df.columns=ind[:-1]

# train_df.to_csv('lead_cleaned_shubham.csv')
# train_df.to_csv('Evalution_cleaned_shubham.csv')
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
350053,1753.0,0.5001,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,27748.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,13.0833,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.42105,1.0,0.856610,0.0,1.0
350054,1894.0,1.9701,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,89190.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.8333,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.00000,1.0,0.943910,0.0,0.0
350055,1774.0,0.1718,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79280.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9167,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.33333,1.0,0.764670,0.0,0.0
350056,1586.0,0.1123,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,69370.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.5833,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.50000,0.0,0.702558,0.0,0.0
350057,1832.0,1.4442,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,99100.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0000,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,1.0,0.791900,0.0,1.0

In [13]:
# train_df=pd.read_csv('Training_Missing_removed.csv',index_col='application_key')
# train_df.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,18414.0,NaN,6423.0,3067.0,123875.0,NaN,1.0,1.0,1.0,3.0,3.0,94.78,8987.18,NaN,72.25,1462.0,4532.0,2890.0,61.0,4532.0,1095.0,3376.0,625.0,1.1667,1.0,0.0,8.0,10.0,4.0,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0.0,0.0
230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,13664.0,NaN,765.0,1931.0,42613.0,NaN,0.0,0.0,0.0,0.0,0.0,74.25,953.06,953.06,4.80,1028.0,2099.0,2099.0,30386.0,2281.0,NaN,2251.0,169.0,0.4167,0.0,0.0,8.0,0.0,2.0,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1.0,1.0
230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,2536.0,NaN,NaN,NaN,76109.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,669.0,4623.0,3772.0,NaN,NaN,25.0833,0.0,NaN,1.0,NaN,1.0,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,0.0,1.0
230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,37013.0,NaN,0.0,0.0,84235.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN,0.00,1308.0,2525.0,791.0,91.0,5992.0,NaN,3741.0,215.0,10.3333,0.0,0.0,3.0,3.0,2.0,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,1.0,0.0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,4696.0,NaN,2257.0,27815.0,123875.0,524848.0,0.0,0.0,0.0,0.0,0.0,20.51,796.67,NaN,28.72,801.0,2281.0,2281.0,487.0,2707.0,NaN,1947.0,158.0,0.9167,0.0,0.0,2.0,3.0,2.0,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,1.0,0.0

In [29]:
a=[1,2,4,5,6]
a=pd.DataFrame(a)