In [17]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns',None)

In [18]:
train_df=pd.read_csv('Traning cleaned.csv',index_col='application_key')
X=train_df.iloc[:,:-1]
Y=train_df.iloc[:,-1]
train_df.head(3)

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.0,0.0,0.0,0.000000,6015.0,322.00000,40369.000000,18414.0,5342.14974,6423.00000,3067.000000,123875.0,294080.148958,1.000000,1.000000,1.000000,3.0,3.0,94.780000,8987.180000,4305.929828,72.250000,1462.000000,4532.000000,2890.000000,61.0,4532.0,1095.000000,3376.000000,625.000000,1.1667,1.0,0.000000,8.0,10.000000,4.0,1.0,73.780000,82.547000,0.08696,10.0,0.63899,0.070736,0.000000,0.0,0.0
230033,1846.0,0.8095,0.0,0.0,0.0,102.000000,7532.0,3171.00000,18234.000000,13664.0,5342.14974,765.00000,1931.000000,42613.0,294080.148958,0.000000,0.000000,0.000000,0.0,0.0,74.250000,953.060000,953.060000,4.800000,1028.000000,2099.000000,2099.000000,30386.0,2281.0,2611.880274,2251.000000,169.000000,0.4167,0.0,0.000000,8.0,0.000000,2.0,0.0,99.129000,72.096758,0.00000,13.0,0.63836,0.070736,0.096135,1.0,1.0
230034,1745.0,0.4001,0.0,0.0,0.0,1606.702372,2536.0,6773.68666,34097.436013,2536.0,5342.14974,7124.40513,15429.679865,76109.0,294080.148958,0.231582,0.266281,0.272026,0.0,0.0,57.790097,4423.856509,4305.929828,69.981834,1750.065303,3369.121848,3096.580153,669.0,4623.0,3772.000000,3626.892986,470.430879,25.0833,0.0,0.198123,1.0,4.251362,1.0,0.0,98.497452,29.290000,0.00000,1.0,1.00000,0.070736,0.000000,0.0,1.0

In [19]:
# train_df.boxplot(column=['mvar2'],figsize=(8,8))

In [20]:
from scipy import stats
import numpy as np

z = np.abs(stats.zscore(X))

In [21]:
threshold = 3
# print(np.where(z > 3))
new_df=X[(z<3).all(axis=1)]

In [22]:
new_df.shape

(48990, 47)

In [16]:
new_df.to_csv('Training_remove_zscore.csv')